@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
}

/* Custom Minimalist Scrollbar - macOS Style */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Force custom cursor everywhere - Brutal mode */
*, *::before, *::after, html, body {
  cursor: none !important;
}

/* Prevent text selection beam */
input, textarea {
  cursor: none !important;
}

/* Ensure Links and Buttons don't show pointer */
a, button, [role="button"] {
  cursor: none !important;
}
