@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Force custom cursor everywhere - Brutal mode */
*, *::before, *::after, html, body {
  cursor: none !important;
}

/* Prevent text selection beam */
input, textarea {
  cursor: none !important;
}

/* Ensure Links and Buttons don't show pointer */
a, button, [role="button"] {
  cursor: none !important;
}
